:root {
	--scale-value:9px ;
}

.form-element {
    padding: 9px;
    border:1px solid wheat;
    border-radius: 4px;
	position: relative;
}

#modal-window--main {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: #273a41c7;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
    display: none;
}

.tool-tip--in-modal {
	padding: calc(var(--scale-value) *3);
	background-color: #f5f5dca6;
    text-transform: uppercase;
}

.playlist-element--close-button {
	position: absolute;
	top: calc(var(--scale-value) * 0.5);
	right: calc(var(--scale-value) * 0.5);
	padding: calc(var(--scale-value) * 0.5);
}