:root {
    --ref-value:9px;
}

.clickable {
    cursor: pointer;
}

.clickable:hover {
    background-color: aqua;
    color: black;
}

input[type="submit"] {
    padding: 9px;
}

.modal-window {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: #202036a6;
	color: antiquewhite;
	display: none;
}

#modal-window__btn--close {
    cursor: pointer;
    position:absolute;
    top:calc(var(--ref-value) * 1) ;
    left:calc(var(--ref-value) * 1) ;
}

#tool-tip--response-logs {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
}