* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 0 0;
    background-color: #27272d;
    color:antiquewhite
}

.wrapper--main {
    width:666px;
    margin: 0 auto;
    padding: 19px;
    height: 100vh;
}

.wrapper {
    padding: 9px;
    
}

.bdr {
    border: 1px solid #5b5b5b;
}

.bdr-r-4 {
    border-radius: 4px;
}

