* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* --- header --- */

#header {
    border: 1px solid #2f363d;
    padding: 9px calc(9px * 4);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(9px * 2);
}

#nav--main--wrapper {
	display: flex;
	justify-content: space-evenly;
	gap: calc(9px * 4);
	/* width: 100%; */
}

#nav--main--wrapper a {
	text-decoration: none;
	text-transform: capitalize;
	font-weight: bold;
	color: #6f7e86;
	transition: all .2s ease-in-out;
}

#nav--main--wrapper a:hover {
	color: #fff;
	text-decoration: underline;
	text-decoration-line: overline;
}

/* --- ------ --- */

body {
	background-color: #242935;
	color: #9e9890;
}

.wrapper--main {
	width: 999px;
	margin: 0 auto;
}

a {

    color: aliceblue;
    text-decoration: none;
}

a:link {

    color: inherit;
}

a:visited {
    
    color: inherit;
}

a:hover {
    
    color: inherit;
    text-decoration: underline;
}

a:active {
    
    color: inherit;
}

/* prefix: pos */

.pos-res {
    position:relative ;
}

.pos-abs {
    position:absolute ;
}


/* prefix: flx */

.flx {
    display: flex;
}

.flx-col {
    display: flex;
    flex-direction: column;
}

.flx-row {
    display: flex;
    flex-direction: row;
}

.flx-gap-1 {
    gap:calc(9px * 1) ;
}

.flx-gap-2 {
    gap:calc(9px * 2) ;
}

.flx-align-start {
    align-items: start;
}

.flx-align-ctr {
    align-items: center;
}

.flx-jtf-ctr {
    justify-content: center;
}

.flx-jtf-start {
    justify-content: start;
}

.flx-align-self-end {
    align-self: flex-end;
}



/*  */

img {
	position: fixed;
	top: 0;
	left: 0;
	width: 100px;
	height: 100px;
}