video {
   width: 100%; 
   aspect-ratio: 16/9;
}

#video-player--main-container {
	border: 1px solid #3c444b;
	padding: calc(9px * 19) calc(9px * 2);
	background-color: #28323b;
	border-radius: 4px;
}

#video--video-container {
	flex-basis: 99%;
	flex-shrink: 1;
	flex-grow: 1;
	padding: 9px;
	background-color: #ffffff2e;
	border-radius: 4px;
	position: relative;
}

.video--palylist-wrapper {
	flex-basis: 50%;
	flex-shrink: 1.9;
	flex-grow: 2;
	padding: calc(9px * 2);
	background-color: #ffffff08;
	border-radius: 4px;
}

.playlist-item {
	background-color: #28323b00;
	cursor: pointer;
	transition: all .2s ease-out;
	padding: 9px;
	border-radius: 4px;
}

.playlist-item:hover {
	background-color: #28323b96;
	padding-left: calc(9px * 2);
	position: relative;
}

.elem-tool-tip {
	position: absolute;
	top:100%; 
	left:10%;
	padding: 9px;
	background-color: #33404b;
	color: wheat;
	width: max-content;
}

#video--main-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	padding: 9px;
}

/* #video--video-container {
	position: relative;
} */

/*  */

.playlist-description {
	position: fixed;
	display: none;
	/* display: flex; */
	top: 0;
	left: 0;
	padding: calc(9px * 2);
	/* border: 1px solid #82a0bb; */
	background-color: #4a678232;
	color: antiquewhite;
	border-radius: 4px;
	min-width: 100px;
	justify-content: center;
	align-items: center;
}

#curtain {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #1a1f24;
	background-image: url('/public/picture/default');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 9%;
}