video {
   width: 100%; 
   aspect-ratio: 16/9;
}

.video--video-container {
	/* flex: 1; */
	flex-basis: 50%;
}

.video--palylist-wrapper {
	flex-basis: 50%;
}

.playlist-item {
	background-color: #663399;
	cursor: pointer;
	transition: all .2s ease-out;
	padding: 9px;
}

.playlist-item:hover {
	background-color: #a591b9;
	padding-left: calc(9px * 2);
}

