* {
    box-sizing: border-box;
}

body {
    background-color: #292c2c;
}

#form--main {
    color: #bdbdbd;
}

#form--main input {
    color: #bdbdbd;
}

#form--main input:focus {
    color: salmon;
}

#form--main label:hover  {
    color: salmon;
    cursor: pointer;
}

.wrapper--main {
	width: 999px;
	margin: 0 auto;
	padding: 0 calc(9px * 4) calc(9px * 4) calc(9px * 4);
	background-color: #44315a;
	overflow: hidden;
}

.wrapper {
    border-radius: 4px;
    border:1px solid #936d68;
}

.wrapper-1 {

    padding:calc(9px * 1);
    border-radius: 4px;
    border:1px solid #936d68;
}

.wrapper-2 {
    padding:calc(9px * 2);
    border-radius: 4px;
    border:1px solid #936d68;
}

.rel {
    position: relative;
}

.abs-left-top {
    position: absolute;
    left: 0;
    top:0;
}

.menu--main a {

    color:wheat;
}