<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/main">
    <script src=""></script>
    <title>Home</title>
</head>

<body>
    <div class="wrapper--main">
        <div class="wrapper">
            <p><span>Loose yourself in the music</span> , 
                the moment you own it <span>you better never let it go</span>. 
                <br/><span>You only get one shot , do not miss
            the chance to blow</span>. 
            <br /><span>This opportunity comes in once time.</span></p>       
        </div>
    </div>
</body>

</html>