<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/asset/css/main">
    <title>Document</title>
</head>
<body>
    <div class="wrapper--main">
        <div class="wrapper flex-container">
            <div class="wrapper" id="video">
                <video controls src="/api/video"></video>
            </div>
            <div id="playlist" class="wrapper flex-item">
                <h2>playlist</h2>
                <div>item</div>
                <div>item</div>
                <div>item</div>
                <div>item</div>
                <div>item</div>
            </div>
        </div>
    </div>
</body>
</html>